<div class='roster-row {{if volunteer.isCheckedOut 'checked-out' (if volunteer.isCheckedIn 'checked-in')}} test-roster-row'>
    <hr>
    <div class="volunteer-name test-volunteer-member-name">{{volunteer.name}}</div>
    <div class="volunteer-time-checked-in test-volunteer-time-checked-in">
        {{#if volunteer.isCheckedOut}}
            {{moment-format volunteer.timeCheckedOut 'h:mm A'}}      
        {{else if volunteer.isCheckedIn}}
            {{moment-format volunteer.timeCheckedIn 'h:mm A'}}
        {{else}}
            <span>-</span>
        {{/if}}
    </div>
    <a href={{concat 'tel:+' volunteer.phone}} class='volunteer-call test-volunteer-phone'>Phone</a>
    <div class='volunteer-check'>
        {{#if volunteer.isCheckedOut}}
            <span class="end-of-day">Checked out</span>
        {{else if volunteer.isCheckedIn}}
            <button {{action 'checkOut' volunteer}} class='volunteer-action test-checkout-link'>Check out</button>
        {{else}}
            <button {{action 'checkIn' volunteer}} class='volunteer-action test-checkin-link'>Check in</button> 
        {{/if}}
    </div>
</div>