<h5 class="test-site-name">{{model.name}}</h5>
<h6 class="test-site-location">{{model.location}}</h6>

{{#if session.isAuthenticated}}
    {{#if model.volunteers}}
        <div class="card">
            <div class="card-map test-map">
                {{g-maps-fit 
                    name='volunteer-map' 
                    markers=markers
                    showZoomControl=false
				    showMapTypeControl=false
				    class='volunteer-map test-volunteer-map'}}
            </div>
        </div>
        <div class="card-header">
            <h4>Roster</h4>
        </div>
        <div class="card-copy test-roster">
            {{#each model.volunteers as |volunteer|}}
                {{roster-row volunteer=volunteer}}
            {{/each}}
        </div>
    {{/if}}
{{else}}
    {{link-to 'Check in' 'disasters.disaster.sites.site.checkin' model.disaster.id model.id class='test-site-checkin'}}
    <hr>
    {{#link-to 'login'}}
        <p class='login-link'>Please login to view roster</p>
    {{/link-to}}
{{/if}}
