{{inline-edit value=model.name tagName='h3' class="test-disaster-edit-name" save=(route-action 'save')}}

{{#if model.sites}}
	 <div class="card">
		<div class="card-map">
			{{g-maps-fit name='disaster-map' markers=markers class='disaster-map test-site-map'}}			
		</div>
		<div class="card-header">
			<h4>Work sites</h4>
		</div>
		<div class="card-copy">
			<ul class="test-sites-list">
			{{#each model.sites as |site|}}
				<li>
					{{link-to site.name 'disasters.disaster.sites.site' site.disaster.id site.id class='test-site-link site'}}
					<span class="no-checkins">
						{{fa-icon 'check' class='test-site-no-checkins'}}
						{{if site.hasNoCheckins site.noCheckins.length "-"}}
					</span>
					<span class="checkins">
						{{fa-icon 'check'}}
						<span class='test-site-checkins'>
							{{if site.hasCheckins site.checkins.length "-"}}
						</span>
					</span>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{link-to 'Add another work site' 'disasters.disaster.sites.new' model class="another-site test-disaster-create-site"}}
{{else}}
	{{link-to 'Create first work site' 'disasters.disaster.sites.new' model class="test-disaster-create-site"}}
{{/if}}
{{roster-uploader}}

{{liquid-outlet}}