{{inline-edit value=model.name tagName='h3' class="test-disaster-edit-name" save=(route-action 'save')}}
<div class='disaster-status'>
	<div class='disaster-no-checkins'>
		{{fa-icon 'check' size='lg'}}
		{{if model.hasNotCheckIns model.volunteersNotCheckedIn "-"}}
	</div>
	<div class='disaster-checkins'>
		{{fa-icon 'check' size='lg'}}
		{{if model.hasCheckIns model.volunteersCheckedIn "-"}}
	</div>
	<div class='disaster-checkouts'>
		{{fa-icon 'check' size='lg'}}
		{{if model.hasCheckOuts model.volunteersCheckedOut "-"}}		
	</div>
</div>


{{#if model.sites}}
	 <div class="card">
		<div class="card-map">
			{{g-maps-fit 
				name='disaster-map' 
				markers=markers
				showZoomControl=false
				showMapTypeControl=false
				class='disaster-map test-site-map'}}			
		</div>
		<div class="card-header">
			<h4>Work sites</h4>
		</div>
		<div class="card-copy">
			<div class="sites-list test-sites-list">
				{{#each model.sites as |site|}}
					<div class='site-row'>
						<div class="site-name">
							{{link-to site.name 'disasters.disaster.sites.site' site.disaster.id site.id class='test-site-link site'}}
						</div>
						<div class="site-status">
							<div class="no-checkins">
								{{fa-icon 'check' class='test-site-no-checkins'}}
								<span class='test-site-no-checkins'>
									{{if site.hasNotCheckIns site.volunteersNotCheckedIn.length "-"}}
								</span>
							</div>
							<div class="checkins">
								{{fa-icon 'check'}}
								<span class='test-site-checkins'>
									{{if site.hasCheckIns site.volunteersCheckedIn.length "-"}}
								</span>
							</div>
							<div class="checkouts">
								{{fa-icon 'check'}}
								<span class='test-site-checkouts'>
									{{if site.hasCheckOuts site.volunteersCheckedOut.length "-"}}
								</span>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
{{/if}}

{{#if session.isAuthenticated}}
	{{#if model.sites}}
		{{link-to 'Add another work site' 'disasters.disaster.sites.new' model class="another-site test-disaster-create-site"}}
	{{else}}
		{{link-to 'Create first work site' 'disasters.disaster.sites.new' model class="test-disaster-create-site"}}
	{{/if}}

	{{roster-uploader}}
{{else}}
    {{#link-to 'login'}}
        <p class='login-link'>Please login to add sites and upload rosters</p>
    {{/link-to}}
{{/if}}


{{liquid-outlet}}